/* CSS Reset minimal */
* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
}
@import url('../../node_modules/@fontsource/noto-sans-tc/index.css');

body {
  margin: 0;
  font-family: 'Noto Sans TC', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
